.about-title {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-weight: 500;
}

.bluesarjana {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.h2-title b {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-weight: 500;
}

.p-para b {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-weight: 500;
}

.bg-ourstories {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 0;
    background-color: #0e1624;
    /* MOUNTAIN IMG */
    background-image: url("https://c.pxhere.com/images/5d/36/af022607530f20ce1c9781e6d648-1428687.jpg!d");

    background-attachment: fixed;
    background-size: cover;
    /* background-image: url('/storage/img/owl.svg'); */
    height: 100% !important;
    clear: both;
    opacity: .5
}
