.about-title {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-weight: 500;
    font-size: 20px !important;
}

.bluesarjana {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.h2-title b {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-weight: 500;
}

.p-para b {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-weight: 500;
}

.bg-ourstories {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 0;
    /* background-color: #0e1624 !important; */
    /* MOUNTAIN IMG */
    background-image: url("/storage/blog/stories.jpg");

    background-attachment: fixed;
    background-size: cover;
    /* background-image: url('/storage/img/owl.svg'); */
    height: 100% !important;
    clear: both;
}

.grid-item h4 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 1rem !important;
}

.grid-item p {
    color: rgb(51, 99, 172);
    color: linear-gradient(4deg, rgba(51, 99, 172, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.grid-item .image-hover-zoom {
    border-radius: 30px !important;
}

.grid-item>img,
.grid-item>a>img {
    border-radius: 10px !important;
}

#header .header-inner #logo a,
#header .header-inner #logo a span,
#header #header-wrap #logo a,
#header #header-wrap #logo a span {
    font-size: 30px !important;
}

.lead {
    color: #000;
}

.imgevent {
    height: 100%;
    width: 200px;
}

.card {
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-body .alert {
    border-radius: 30px;
    width: 100%;
    border: 0;
    background-color: #39861d;
    color: #fff;
}

.card-body .alert a {
    color: #fff;
    font-weight: 800;
}

.card-text-black {
    color: #121212;
}

.card-title-strong {
    font-weight: 500;
    font-size: 18px;
}

.card-link-karir {
    font-weight: 600;
}

.card-body a {
    color: #2485c1 !important;
}

.card-body a:hover {
    color: #3698d4 !important;
}

.storiesimg {
    background-image: url("/storage/blog/stories.jpg");
    background-size: cover;
    height: 35rem;
}

.storiesimg .container {
    visibility: hidden;
}

.sidebar-stories {
    font-weight: 600;
    color: #5f6368;
    font-size: 12px;
}

.sub-title-stories {
    font-size: 1.4375rem;
    line-height: 1.875rem;
    color: #202124;
}

.paragraph-stories {
    color: #202124;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .01562rem;
}

.imgpreview-daftar {
    width: 340px;
    border-radius: 25px;
}

.imgserved-done {
    max-width: 200px;
}

.sidebar-stories a {
    color: #000 !important;
}

.sectioncrusial {
    padding: 120px 0 !important;
}

.bg-gradient-blue-sarjana {
    background: #4aa5e7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3363ac, #4aa5e7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3363ac, #4aa5e7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-gradient-blue-sarjana {
    background: linear-gradient(to right, #4aa5e7 0%, #3363ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900 !important;
}

.btn-gradient-blue-sarjana {
    background: #4aa5e7;
    background: -webkit-linear-gradient(to right, #3363ac, #4aa5e7);
    background: linear-gradient(to right, #3363ac, #4aa5e7);
    border: 0 !important;
    border-radius: 40px !important;
}

.btn-gradient-blue-sarjana:hover {
    background: #4aa5e7;
    transition: 2s ease !important;
    background: -webkit-linear-gradient(to left, #3363ac, #4aa5e7);
    background: linear-gradient(to left, #3363ac, #4aa5e7);
    cursor: pointer;
}

.karirlink_part {
    color: #3363ac !important;
}

.karirlink_part:hover {
    color: #4aa5e7 !important;
    transition: .25s ease-in-out;
}

.squarejob {
    background-color: #fff !important;
    padding: 2rem;
    border-radius: 25px;

}

.squarejob:hover {
    cursor: pointer !important;
    transition: .1s ease-in-out;
    -webkit-box-shadow: 3px 6px 17px -2px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 3px 6px 17px -2px rgba(0, 0, 0, 0.10);
    box-shadow: 3px 6px 17px -2px rgba(0, 0, 0, 0.10);
}

.breadcumb-form a {
    color: #121212;
    font-weight: 500;
}

.breadcumb-form a:hover,
:active {
    color: #4aa5e7 !important;
}

.breadcumb-form {
    color: #121212;
}

.search-for {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    max-width: 100%;
}

.img-roundedforum {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: .7;
}

.img-roundedforum:hover {
    opacity: 1;
}

.scroll-box {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
    height: 200px;
}
