@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');

:root {
    --blue:
        #217ABB !important;
    --indigo:
        #6610f2 !important;
    --purple:
        #6f42c1 !important;
    --pink:
        #e83e8c !important;
    --red:
        #ff1520 !important;
    --orange:
        #e9c14c !important;
    --yellow:
        #f9f10b !important;
    --green:
        #28a745 !important;
    --teal:
        #20c997 !important;
    --cyan:
        #17a2b8 !important;
    --white:
        #fff !important;
    --gray:
        #6c757d !important;
    --gray-dark:
        #343a40 !important;
    --primary:
        #007bff !important;
    --secondary:
        #6c757d !important;
    --success:
        #28a745 !important;
    --info:
        #17a2b8 !important;
    --warning:
        #ffc107 !important;
    --danger:
        #dc3545 !important;
    --light:
        #f8f9fa !important;
    --dark:
        #343a40 !important;

    /* SARJANAMALAM THEME */
    --candy-brown: #E9C14C !important;
    --light-sea-green: #217ABB !important;
    --steel-blue: #3363AC !important;
    --saddle-brown: #6C3C1C !important;
    --steel-blue-s: #2C64B4 !important;
    --white-sarjana: #e9f8ff !important;
    --black-sarjana: #0e1624 !important;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Montserrat" !important;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
}

.inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.main-search .form-control {
    border: 0;
    background-color: #ffffff !important;
    height: 50px;
    border-radius: 99em;
    border-width: 0;
    padding-left: 40px;
    padding-right: 20px;
}

.main-search {
    border: 1px solid #cccccc;
    border-radius: 99em;
    position: relative;
}

.main-search .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-search .search-icon.icon-left {
    left: 20px !important;
    right: auto;
}

.nav-item.with-divider {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
}

.nav-item.with-divider::before {
    content: ' ';
    position: absolute;
    background-color: #cccccc;
    height: 15px;
    width: 3px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.nav-item a {
    font-size: 12px;
}

.inner-bg-image {
    background-color: #152733;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%232b58a2' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%232949b1' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23515dae' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%237151b9' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%2332286d' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239b4996' points='1203 546 1552 900 1162 900'/%3E%3Cppolygon fill='%23562550' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23723d67' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%233d4d82' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23965f52' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%232f2541' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23628a96' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homestyle a {
    color: #ccc !important;
}

.homestyle a:hover {
    color: #47a9e6 !important;
    transition: .32s ease-in-out;
}

.homestyle .search-title {
    color: #ffffff !important;
    font-weight: 600;
}

.homestyle .footer .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
}

.homestyle .footer .navbar-nav li {
    margin-right: 0.8em;
}

.nav-item-user {
    background-color: #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 99em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}

.dropdown-item.nav-user-name span,
.dropdown-item.nav-user-name:hover {
    color: #ffffff;
    background-color: transparent !important;
}


.dropdown-menu {
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #152733;
}

.dropdown-menu .dropdown-item {
    padding: 10px;
    color: #fff !important;
    font-weight: 600 !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(36, 133, 193, .4);
    color: #47a9e6 !important;
    border-bottom: 2px solid #47a9e6;
    transition: .32s ease-in-out;
}

.dropdown-toggle::after {
    display: none;
}

@media screen and (max-width: 500px) {
    .nav-item.with-divider {
        padding-left: 0;
    }

    .nav-item.with-divider::before {
        background-color: transparent !important;
    }

    .navbar-nav.navbar-mobile {
        flex-direction: row !important;
    }

    .navbar-mobile li {
        margin-right: 15px;
    }

    .homestyle .footer .navbar-nav li>a {
        font-size: 14px;
    }
}

.img-profile-user {
    border-radius: 50%;
    width: 40px;
    height: auto;
}
